In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
sports=pd.read_json("D:\CDAC_PUNE_PROJECT\Sports_and_Outdoors.json\Sports_and_Outdoors.json",lines=True)

In [3]:
sports.head(5)

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
0,{'$oid': '5a132768741a2384e847b8ed'},A2PAVURT4NOHE1,0000031852,Leah,"[0, 0]",Bought it for a ballet tutu but it is being wo...,5,Super cute,1388361600,"12 30, 2013",Sports_and_Outdoors,1
1,{'$oid': '5a132768741a2384e847b8e9'},A1SNLWGLFXD70K,0000031852,DEVA,"[0, 0]",I origonally didn't get the item I ordered. W...,4,Happy with purchase even though it came a lot ...,1392940800,"02 21, 2014",Sports_and_Outdoors,1
2,{'$oid': '5a132768741a2384e847b8ee'},A3URQ0LXLV46E9,0000031852,shortyvee,"[0, 0]",My daughter and her friends love the colors an...,4,zebralisous,1400544000,"05 20, 2014",Sports_and_Outdoors,1
3,{'$oid': '5a132768741a2384e847b8ea'},A1KJ4CVG87QW09,0000031852,Donna Carter-Scott,"[0, 0]","Arrived very timely, cute grandbaby loves it. ...",4,Cute Tutu,1389657600,"01 14, 2014",Sports_and_Outdoors,1
4,{'$oid': '5a132768741a2384e847b8eb'},AA9ITO6ZLZW6,0000031852,Jazzy77,"[0, 0]",My little girl just loves to wear this tutu be...,5,Versatile,1399507200,"05 8, 2014",Sports_and_Outdoors,1

In [4]:
sports['class'].value_counts()

class
1    2481105
0     532151
Name: count, dtype: int64

In [5]:
df_temp = sports[['reviewText','class']]

In [6]:
df_temp

                                                reviewText  class
0        Bought it for a ballet tutu but it is being wo...      1
1        I origonally didn't get the item I ordered.  W...      1
2        My daughter and her friends love the colors an...      1
3        Arrived very timely, cute grandbaby loves it. ...      1
4        My little girl just loves to wear this tutu be...      1
...                                                    ...    ...
3013251  This only took 2 days to receive and the cord ...      1
3013252  Bought this item for travel use and so far it ...      1
3013253  Wasn't expecting this Paracord to be as Vibran...      1
3013254  Bought this item for home and so far it was pr...      1
3013255  This paracord is high quality. I have buy some...      1

[3013256 rows x 2 columns]

In [11]:
df_temp['reviewText'].where(df_temp['class']==0)

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
3013251    NaN
3013252    NaN
3013253    NaN
3013254    NaN
3013255    NaN
Name: reviewText, Length: 3013256, dtype: object