In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import tensorflow as tf

C:\Users\HRUSHIKESH\AppData\Local\Temp\ipykernel_175196\1762117645.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
chunksize = 1000

# Open the JSON file in chunks
chunks = pd.read_json("E:\Project\Project_dataset\Toys_and_Games.json", lines=True, chunksize=chunksize)

# Initialize an empty list to store the chunks
chunk_list = []

# Process each chunk
for chunk in chunks:
    # Append the current chunk to the chunk_list
    chunk_list.append(chunk)

# Concatenate the chunks into a single DataFrame
combined_df = pd.concat(chunk_list, ignore_index=True)

# Now you have a single DataFrame containing all the data from the JSON file
print(combined_df.head())

                                    _id      reviewerID        asin  \
0  {'$oid': '5a13282b741a2384e879a620'}  A3C9CSW3TJITGT  0005069491
1  {'$oid': '5a13282b741a2384e879a621'}  A31POTIYCKSZ9G  0076561046
2  {'$oid': '5a13282b741a2384e879a622'}  A2GGHHME9B6W4O  0131358936
3  {'$oid': '5a13282b741a2384e879a61f'}   AMEVO2LY6VEJA  0000191639
4  {'$oid': '5a13282b741a2384e879a623'}  A1FSLDH43ORWZP  0133642984

    reviewerName helpful                                         reviewText  \
0          Renee  [0, 0]  I love these felt nursery rhyme characters and...
1  So CA Teacher  [0, 0]  I see no directions for its use. Therefore I h...
2     Dalilah G.  [0, 0]  This is a great tool for any teacher using the...
3  Nicole Soeder  [0, 0]  Great product, thank you! Our son loved the pu...
4  Dayna English  [0, 0]  Although not as streamlined as the Algebra I m...

   overall                                     summary  unixReviewTime  \
0        4  Charming characters but busy work required      1377561600
1        3                    No directions for use...      1404864000
2        5                                Great CD-ROM      1382400000
3        5                                     Puzzles      1388016000
4        5        Algebra II -- presentation materials      1374278400

    reviewTime        category  class
0  08 27, 2013  Toys_and_Games      1
1   07 9, 2014  Toys_and_Games      0
2  10 22, 2013  Toys_and_Games      1
3  12 26, 2013  Toys_and_Games      1
4  07 20, 2013  Toys_and_Games      1

In [3]:
# df = pd.read_csv(r'E:\Git Demo\CDAC_Group_Project\Project_dataset\toys.csv')
combined_df

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
0,{'$oid': '5a13282b741a2384e879a620'},A3C9CSW3TJITGT,0005069491,Renee,"[0, 0]",I love these felt nursery rhyme characters and...,4,Charming characters but busy work required,1377561600,"08 27, 2013",Toys_and_Games,1
1,{'$oid': '5a13282b741a2384e879a621'},A31POTIYCKSZ9G,0076561046,So CA Teacher,"[0, 0]",I see no directions for its use. Therefore I h...,3,No directions for use...,1404864000,"07 9, 2014",Toys_and_Games,0
2,{'$oid': '5a13282b741a2384e879a622'},A2GGHHME9B6W4O,0131358936,Dalilah G.,"[0, 0]",This is a great tool for any teacher using the...,5,Great CD-ROM,1382400000,"10 22, 2013",Toys_and_Games,1
3,{'$oid': '5a13282b741a2384e879a61f'},AMEVO2LY6VEJA,0000191639,Nicole Soeder,"[0, 0]","Great product, thank you! Our son loved the pu...",5,Puzzles,1388016000,"12 26, 2013",Toys_and_Games,1
4,{'$oid': '5a13282b741a2384e879a623'},A1FSLDH43ORWZP,0133642984,Dayna English,"[0, 0]",Although not as streamlined as the Algebra I m...,5,Algebra II -- presentation materials,1374278400,"07 20, 2013",Toys_and_Games,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1997135,{'$oid': '5a132892741a2384e89c0ee4'},A3SDSFPFY8WS8C,B00LRXEK4G,"ben brightman ""benbrightman""","[2, 4]",Donny looks awesome in his wizard outfit. It r...,4,Awesome toy Price not Awesome,1405209600,"07 13, 2014",Toys_and_Games,1
1997136,{'$oid': '5a132892741a2384e89c0ee2'},AVJ4N5LBKAOG5,B00LOYLHOE,Gary P.,"[2, 3]","When I was a kid, I always heard, and sometime...",5,Excellent quality and fun to fly. Certainly wo...,1405123200,"07 12, 2014",Toys_and_Games,1
1997137,{'$oid': '5a132892741a2384e89c0ee6'},A3JB0C3QWIN61Q,B00LXACM5W,Moms of Three,"[0, 0]",The kids had hours and hours of fun with this....,5,Great Set!,1405900800,"07 21, 2014",Toys_and_Games,1
1997138,{'$oid': '5a132892741a2384e89c0ee5'},AJ062DSRHW9RX,B00LXACM5W,Braindel Schwartz,"[0, 0]",this pack of water shooters and splash balls a...,5,I bought a few packs for a birthday party and ...,1405814400,"07 20, 2014",Toys_and_Games,1
1997139,{'$oid': '5a132892741a2384e89c0ee7'},AVJ84HKPIGBMH,B00M0TTT5Q,Knd,"[0, 0]",Awesome!!! These lights are SO BRIGHT!! Way be...,5,Awesome!!,1405987200,"07 22, 2014",Toys_and_Games,1

In [4]:
x = combined_df['reviewText']
y = combined_df['class']

In [7]:
# df = combined_df[['reviewText','class']]
# df.to_csv('complete_toys.csv')

In [16]:
# # Tokenization
# max_words = 10000
# max_len = 1000
# tokenizer = Tokenizer(num_words=max_words)
# tokenizer.fit_on_texts(X)
# X = tokenizer.texts_to_sequences(X)
# X = pad_sequences(X, maxlen=max_len)

In [8]:
text_dataset = tf.data.Dataset.from_tensor_slices(x)

In [9]:
# # Train-test split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
# train_data , test_data = train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
max_features = 10000
max_len = 1000
vectorize_layer = tf.keras.layers.TextVectorization(
 max_tokens=max_features,
 output_mode='int',
 output_sequence_length=max_len)

vectorize_layer.adapt(text_dataset.batch(64))

In [11]:
vocab = np.array(vectorize_layer.get_vocabulary())
vocab[:20]

array(['', '[UNK]', 'the', 'and', 'it', 'a', 'to', 'i', 'is', 'this',
       'for', 'of', 'my', 'with', 'in', 'that', 'was', 'but', 'on', 'you'],
      dtype='<U15')

In [9]:
# # Model Building
# model = Sequential()
# model.add(Embedding(input_dim=max_words, output_dim=128, input_length=max_len))
# model.add(LSTM(64))
# model.add(Dense(1, activation='sigmoid'))

In [12]:
model = tf.keras.Sequential([
    vectorize_layer,
    tf.keras.layers.Embedding(
        input_dim=len(vectorize_layer.get_vocabulary()),
        output_dim=64,
        # Use masking to handle the variable sequence lengths
        mask_zero=True),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1)
])

In [13]:
# Compile Model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Model Training
batch_size = 64
epochs = 10
history = model.fit(X_train, y_train, batch_size=batch_size, epochs=epochs, validation_data=(X_test, y_test))

Epoch 1/10
24965/24965 [==============================] - 1579s 63ms/step - loss: 0.4177 - accuracy: 0.8702 - val_loss: 2.5654 - val_accuracy: 0.8314
Epoch 2/10
24965/24965 [==============================] - 1539s 62ms/step - loss: 0.6287 - accuracy: 0.8901 - val_loss: 0.2643 - val_accuracy: 0.9198
Epoch 3/10
24965/24965 [==============================] - 1525s 61ms/step - loss: 0.2622 - accuracy: 0.9156 - val_loss: 0.2652 - val_accuracy: 0.9144
Epoch 4/10
24965/24965 [==============================] - 1528s 61ms/step - loss: 0.2782 - accuracy: 0.9163 - val_loss: 0.2827 - val_accuracy: 0.9173
Epoch 5/10
24965/24965 [==============================] - 1528s 61ms/step - loss: 0.2831 - accuracy: 0.9201 - val_loss: 0.2466 - val_accuracy: 0.9253
Epoch 6/10
24965/24965 [==============================] - 1528s 61ms/step - loss: 0.2869 - accuracy: 0.9193 - val_loss: 0.2743 - val_accuracy: 0.9269
Epoch 7/10
24965/24965 [==============================] - 1528s 61ms/step - loss: 0.2736 - accuracy: 0.9210 - val_loss: 0.2654 - val_accuracy: 0.9298
Epoch 8/10
24965/24965 [==============================] - 1528s 61ms/step - loss: 0.2774 - accuracy: 0.9177 - val_loss: 0.2614 - val_accuracy: 0.9226
Epoch 9/10
24965/24965 [==============================] - 1522s 61ms/step - loss: 0.2938 - accuracy: 0.9150 - val_loss: 0.2914 - val_accuracy: 0.9171
Epoch 10/10
24965/24965 [==============================] - 1525s 61ms/step - loss: 0.3010 - accuracy: 0.9197 - val_loss: 0.2853 - val_accuracy: 0.9242

In [16]:
loss_df = pd.DataFrame(model.history.history)

In [19]:
# # Model Evaluation
# loss, accuracy = model.evaluate(X_test, y_test)
# print("Test Accuracy:", accuracy)

In [17]:
loss_df

       loss  accuracy  val_loss  val_accuracy
0  0.417705  0.870236  2.565393      0.831444
1  0.628747  0.890077  0.264311      0.919825
2  0.262160  0.915640  0.265215      0.914385
3  0.278158  0.916272  0.282746      0.917274
4  0.283146  0.920117  0.246565      0.925316
5  0.286890  0.919310  0.274290      0.926923
6  0.273622  0.920980  0.265415      0.929842
7  0.277381  0.917720  0.261402      0.922579
8  0.293836  0.915038  0.291363      0.917091
9  0.301046  0.919745  0.285259      0.924164

In [18]:
model.save_weights('LSTM_02_model_weights_3.h1')